


.mediaBrowserOverlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0);
	opacity: 1;
	transition: all .5s ease;
	z-index: 99999;
}

.mediaBrowserOverlay.active {
	background-color: rgba(0,0,0,0.85);
}

.mediaBrowserOverlay.fading {
	opacity: 0;
}


.mbPanel {
	height: 50px;
	position: relative;
	z-index: 999999;
}

.mbPanelAbout {
	float: left;
	color: #8b8b8b;
	margin-left: 18px;
}


.mbpaAboutItem {
	position: absolute;
	opacity: 0;
    transform: translateX(0px);
	transition: all .5s ease;
}

.mbpaAboutCurrent {
    transform: translateX(0px);
	opacity: 1;
}

.mbpaAboutPrev {
    transform: translateX(-20px);
}


.mbpaAvatar {
	margin-top: 8px;
	float: left;
	width: 44px;
	overflow: hidden;
	height: 44px;
}

.mbpaMeta {
	float: left;
	margin-top: 14px;
	margin-left: 17px;
}

.mbpaName {
}

.mbpaDate {
	margin-top: 5px;
}








.mbPanelIcons {
	float: right;
	padding-right: 10px;
	height: 50px;
}

.mbpIcon {
	float: right;
	padding: 14px;
	cursor: pointer;
}

.mbpIcon path {
	fill: #8c8c8c;
	transition: all .5s ease;
}

.mbpIcon:hover path {
	fill: #ffffff;
}





.mbBrowser {
	position: fixed;
	left: 0;
	right: 0;
	top: 125px;
	bottom: 125px;
}

.mbbPhoto {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	transition: all .2s ease;
	position: fixed;
}

.mbbVideo video {
	object-fit: fill;
	width:100%;
	height:100%;
}

.mbbArrowItem {
	position: absolute;
	background: transparent;
	z-index: 10;
	top: 0px;
	bottom: 0px;
	line-height: calc(100vh - 200px);
	cursor: pointer;
	opacity: 1;
}

.mbbArrowItem.noMore {
	opacity: 0;
	cursor: default;
}

.mbbArrowNext {
	text-align: right;
	right: 0px;
}

.mbbArrowPrev {
	text-align: left;
	left: 0px;
}

.mbbArrow {
	vertical-align: middle;
	border-style: solid;
	border-color: rgba(255,255,255,0);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: all .2s ease;
}

.mbbArrowItem:hover .mbbArrow  {
	border-color: rgba(255,255,255,1);
}

.mbbArrowNext .mbbArrow {
	margin: -10px 155px 0 50px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.mbbArrowPrev .mbbArrow {
	margin: -10px 50px 0 155px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}



.mbbCaption {
	color: #8b8b8b;
	position: fixed;
	bottom: 50px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 14px;
}

.mbpMenu {
	display: none;
}

@media (max-width:850px) {
	.mbbArrow {
		display: none;
	}
	.mbpaAvatar {
		display: none;
	}
	.mbPanelIcons {
		float: left;
	}
	.mbpIcon {
		display: none;
	}
	.mbpIconClose {
		display: block;
	}
	.mbpMenu {
		display: block;
		float: right;
		padding-right: 10px;
		height: 50px;
	}
	.mbpMenu .mbpIcon {
		display: block;
	}
	.mediaBrowserOverlay .menu {
		top: 50px !important;
		left: auto !important;
		right: 10px !important;
	}
}
