
.panel {
	background: #e6ebee url('../../images/bg.jpg') center center no-repeat;
	background-size: cover;
	/*background: #e6ebee;*/
	min-height: calc(100vh - 61px);
	overflow: hidden;
	transition: all .5s ease;
	font-family: Noto,'Roboto',sans-serif,-apple-system !important;
	clear: both;
}

.panelPos {
	margin-left: 420px;
	margin-right: 420px;
	transition: all .5s ease;
}

.panelContent {
	opacity: 0;
	transition: opacity .1s ease;
}

.panelNotice {
	margin: 0 auto;
	width: 0;
	height: 0;
}


.panelNotice div {
	position: fixed;
	top: 65px;
	z-index: 9999;
	margin: 8px auto;
	margin-left: -150px;
	width: 300px;
    background: rgb(0,0,0,0.7);
    padding: 8px;
    border-radius: 8px;
    color: #ffffff;
	transition: opacity .5s ease;
	opacity: 0;
}

.panelNotice.active div {
	opacity: 1;
}

#panelNoticeIcon {
	float: left;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: -2px 4px 0 0;
	border-radius: 50%;
	background: #ffffff;
	text-align: center;
}

#panelNoticeIcon svg {
	width: 16px;
	vertical-align: middle;
	height: 16px;
}

#panelNoticeIcon path {
	fill: #000000;
}

#panelNoticeContent {
	display: block;
    margin-left: 32px;
}


.panel .panelLoading {
	position: relative;
	height: 0;
	z-index: 0;
	transition: opacity .1s ease;
}

.panelLoaded .panelContent {
	opacity: 1;
}

.panelLoaded .panelLoading {
	opacity: 0;
}

.panelPos.panelNoSidebar {
	margin-right: 0px;
}




.highlight {
	background-color: #c9e5f8;
}




.panelContent {
	background: url('../../images/bg.jpg') center center no-repeat;
	background-size: cover;
	height: calc(100vh - 61px);
}

.panelFallout {
}

.panelMessages {
	-webkit-mask-image: linear-gradient(to top,transparent,#000 20px);
	height: calc(100vh - 161px);
	/*overflow-y: scroll;*/
	position: relative;
	overflow: hidden;
	padding: 0 20px 0 20px;
	transition: all .5s ease;
}

.panelMessagesLarge {
	height: calc(100vh - 261px);
}

.panelMessagesHuge {
	height: calc(100vh - 361px);
}

.panelMessagesFull {
	height: calc(100vh - 61px);
}

.panelMessagesContainer {
	max-width: 700px;
	margin: 0 auto;
}


.panelMessage {
	max-width: 500px;
	clear: both;
	margin: 8px auto;
	color: black;
	word-wrap: break-word;
	border-radius: 8px;
	padding: 8px 14px 2px 14px;
	position: relative;
	z-index: 1;
	min-height: 10px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 16px;
/*	-webkit-box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);
	box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);*/


	--brImage: none;
}

.withButtons3 {
	margin-bottom: 120px !important;
}
.withButtons2 {
	margin-bottom: 86px !important;
}
.withButtons1 {
	margin-bottom: 52px !important;
}

.messageButtons {
	position: relative;
}
.messageButtonsCont {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 28px;
	margin: -15px;
}

.messageButton {
    background: rgb(0,0,0,0.4);
	padding: 8px;
	border-radius: 8px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	transition: all .5s ease;
	margin-top: 4px;
	line-height: 14px;
}

.messageButton:hover {
    background: rgb(0,0,0,0.3);
}


.messageMeta {
	color: #a0aab3;
	font-size: 10px;
	float: right;
	line-height: 12px;
	margin-top: -5px;
	margin-right: -8px;
}

.messageMeta div {
	vertical-align: sub;
	display: inline-block;
	z-index: 999;
	position: relative;
}

.messageMeta svg {
	padding-top: 0px;
    width: 15px;
    height: 14px;
    vertical-align: bottom;
}

.messageMeta span {
	display: inline-block;
    height: 14px;
    width: 16px;
    overflow: hidden;
    vertical-align: bottom;
}

.messageMeta span svg {
    width: 22px;
    height: 22px;
}

.fromMe .messageMeta {
	color: #4fae4e;
}
.messageMeta path {
	fill: #a0aab3;
}

.fromMe .messageMeta path {
	fill: #4fae4e;
}

.panelMessage {
	float: left;
}
.fromMe {
	float: right;
}


/*
.fromMe {
	color: black;
	word-wrap: break-word;
	margin-bottom: 20px;
	line-height: 24px;
}*/

.fromMe {
	/*margin: 8px auto;
	position: relative;
	padding: 0 8px 0 8px;
	color: #000000*/;
	background: #eeffde;
	border-radius: 8px;
	border-bottom-right-radius: 0;
}

.fromMe:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: -14px;
    height: 14px;
    width: 14px;
	clip-path: url(#rightBubble);
	-webkit-clip-path: url(#rightBubble);
    border: 0;
    background-color: #eeffde;
    background-position: bottom right;
    background-image: var(--brImage);
    background-size: 150px 150px;
}
/*
.fromMe:after {
    content: "";
    position: absolute;
    z-index: 4;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 16px;
    background: #e6ebee;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);

}*/


.fromThem {
	background: #ffffff;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	margin-left: 41px;
}
.fromThem:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: -13px;
    height: 14px;
    width: 14px;
	clip-path: url(#leftBubble);
	-webkit-clip-path: url(#leftBubble);
    border: 0;
    background: white bottom left no-repeat;
    background-image: var(--brImage);
    background-size: 150px 150px;
/*	-webkit-box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);
	box-shadow: 0px 0px 2px 1px rgba(239,239,239,1);*/
	/*border-image: url("https://static.toiimg.com/thumb/msid-44945488,width-748,height-499,resizemode=4,imgsize-291921/Nice-in-pictures.jpg") 20 20 stretch;*/
}
/*.fromThem:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 16px;
    background: #e6ebee;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}*/

.panelMessage.withPhoto {
	background-size: cover;
	background-position: center center;
}
.panelMessage.withPhotoOnly, .panelMessage.withVideoOnly {
	cursor: pointer;
}
.panelMessage.withVideoOnly {
	padding: 0;
	background-size: cover;
}
.panelMessage.withVideo .messageMedia {
    line-height: 240px;
    text-align: center;
}
.panelMessage.withVideoOnly .messageContent, .panelMessage.withVideoOnly .messageMedia {
	margin: 0;
	padding: 0;
	min-width: auto;
    line-height: 240px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 5px;
}
.panelMessage .duration {
	position: absolute;
	line-height: 16px;
	margin: 5px;
	background: rgba(0,0,0,0.4);
	color: white;
	float: left;
	padding: 3px 5px;
	border-radius: 5px;
}

.panelMessage.withVideoOnly .messageMeta, .panelMessage.withPhotoOnly .messageMeta, .onMediaMeta {
	background: rgba(0,0,0,0.4);
	border-radius: 5px;
	padding: 3px;
	margin: 0px;
    z-index: 1;
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #ffffff;
    height: 13px;
    overflow: hidden;
}

.panelMessage.withVideoOnly .messageMeta path, .onMediaMeta path, .panelMessage.withPhotoOnly path  {
	fill: #ffffff !important;
}



.panelMessage.withPhotoOnly .messageContent {
	margin-top: 219px;
}
.panelMessage.withPhotoOnly .messageMeta, .onMediaMeta {
	color: #ffffff !important;
}

/*.panelMessage.withPhoto.fromThem:before {
    border-left: 7px solid #ffffff;
	border-image-slice: 10 10;
	border-image-repeat: stretch;
}*/
.panelMessage.withPhoto {
	min-width: 360px;
	min-height: 240px;
}
.panelMessage.withPhoto.fromMe:before {
/*    border-right: 7px solid #eeffde;
	border-image-slice: 10 10;
	border-image-repeat: stretch;*/
}
.messageMedia {
	cursor: pointer;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-width: 360px;
	min-height: 240px;
	margin: -8px -14px 5px -14px;
	border-radius: 10px 10px 0 0;
}

.messageMediaOnly .messageMedia {
	margin-bottom: -4px;
}


.panelMessage {
}

.panelMessage.withVideo .messageContent {
	margin: -8px -19px -7px -14px;
    padding: 8px 14px 2px 14px;
	border-radius: 10px;
    overflow: hidden;
}
.panelMessage.withVideo .messageText {
	/*margin: 8px 14px 5px 14px;*/
}

.messageVideoContainer {
    height: 240px;
    display: none;
}
.messageVideoContainer.loaded {
	display: block;
}

.panelGIF .messageMedia {
	line-height: 0px !important;
}

video {
	object-fit: fill;
	width:100%;
	height:100%;
	/*margin: -8px -14px 5px -14px;*/
}

.panelGIF .videoLoading {
    margin-top: 35px;
    position: absolute;
    right: 0;
    left: 0;
}

.loaded .videoLoading {
	display: none;
}

.panelGIF .messageMedia video {
	border-radius: 8px;
}

.panelGIF .messageMedia {
	min-height: auto !important;
}

.panelContent .avatar {
	clear: both;
	float: left;
	position: absolute;
	left: -38px;
	bottom: -1px;
	z-index: 99999;
	width: 33px;
	height: 33px;
	line-height: 33px;
	font-size: 15px;
}

.fromMe .avatar {
	display: none;
}

.messageAuthor {
	color: #3390ec;
	padding-bottom: 2px;
	font-weight: bold;
	cursor: pointer;
}

.fromMe .messageAuthor {
	display: none;
}

.messageContent, .messageText {
  -webkit-touch-callout: text;
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.messageContent a {
	color: #1da1f1;
}

.messageWebpage {
	border-left: 2px solid #1da1f1;
	padding: 1px 0 1px 8px;
	margin: 0 0 8px 0;
	display: block;
	text-decoration: none;
	color: #000000;
}

.fromMe .messageWebpage {
	border-left: 2px solid #4fae4e;
}

a.messageWebpage {
	color: #000000;
}

.messageReply .author, .messageWebpage .webpageSitename, .fowardedHeader {
	color: #3390ec;
}

.fromMe .messageReply .author, .fromMe .messageWebpage .webpageSitename, .fromMe .fowardedHeader {
	color: #4fae4e;
}

.messageReply {
	cursor: pointer;
	float: left;
	padding: 5px;
	margin-left: -5px;
	border-radius: 3px;
	margin-bottom: 4px;
}

.messageReply .author, .replyBody, .messageForwarded .author, .messageForwarded .messageBody {
	border-left: 2px solid #1da1f1;
	padding-left: 5px;
}

.messageForwarded .messageBody {
	display: block;
}

.fromMe .messageReply .author, .fromMe .replyBody, .fromMe .messageForwarded .messageBody, .fromMe .messageForwarded .author {
	border-left: 2px solid #4fae4e;
}

.messageForwarded .author {
	color: #1da1f1;
	cursor: pointer;
	font-weight: bold;
}

.fromMe .messageForwarded .author {
	color: #4fae4e;
}

.messageReply:hover {
	background-color: rgba(0,0,0,0.08);
}

.messageWebpage {
	margin: 0 0 0 0;
}

.messageWebpage:after {
  content: "";
  display: table;
  clear: both;
}

.messageWebpage .webpageTitle {
	font-weight: bold;
}

.webpagePhoto {
	width: 100%;
	max-height: 300px;
	overflow: hidden;
	background-size: cover;
}

.webpagePhotoSquare {
	float: right;
	width: 64px;
	height: 64px;
	overflow: hidden;
	margin-left: 4px;
}

.webpagePhoto img {
	margin-top: 4px;
	width: 100%;
}
.webpagePhotoSquare img {
	margin-top: 0;
}


.sameAsNext {
	border-radius: 8px;
	margin-bottom: 0px;
}

.sameAsNext .avatar {
	display: none;
}
.sameAsNext:before {
	width: 0;
	height: 0;
	border: 0px;
}
.sameAsNext:after {
	width: 0;
	height: 0;
	border: 0px;
}

.sameAsPrev .messageAuthor {
	display: none;
}

.sameAsPrev .messageAuthor {
	display: none;
}

.panelMessageSticker {
	max-width: 400px;
	height: 150px;
	margin: 8px 0 8px 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.panelMessageSticker img {
	height: 150px;
	max-height: 100%;

    max-width: 400px;
}
.panelMessageSticker .messageSticker {
	height: 150px;
}
.panelMessageAnimatedSticker {
	width: 150px;
}
.panelMessageSticker svg {
	height: 150px;
	width: 150px;
}
.panelMessageSticker.stickerFromMe {
	float: right;
}
.panelMessageSticker.stickerFromThem {
	float: left;
	margin-left: 41px;
}
.panelMessageSticker .avatar img {
	width: 33px;
	height: 33px;
}
.stickerFromMe .avatar {
	display: none;
}
.panelMessageStickerchannel .avatar {
	display: none;
}


.panelRsDoc {
	padding: 0;
    padding-bottom: 10px;
    cursor: pointer;
}

.panelRsDoc:hover {
	background: transparent;
}

.panelRsDoc .rsDocName {
	width: auto;
	max-width: 250px;
	overflow: hidden;
	font-weight: bold;
	color: #000000;
}

.panelRsDoc .rsDocMeta {
	color: #a0aab3;
}

.fromMe .panelRsDoc .rsDocMeta {
	color: #4fae4e;
}

.panelRoundVideo {
	background: transparent;
	overflow: visible !important;
}

.panelRoundVideo:before {
	width: 0px !important;
	height: 0px !important;
}

.panelRoundVideo .messageMedia {
	clip-path: circle(50% at 50% 50%);
}

.messageMediaPlaying {
	max-height: 240px;
}

.duration .nosound {
	float: right;
	margin-left: 5px;
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.duration .nosound svg {
	width: 20px;
	height: 20px;
}

.duration .nosound path {
	fill: #ffffff;
}




/*

.messageDownIcon {
	float: left;
	height: 64px;
	width: 64px;
	border-radius: 5px;
	overflow: hidden;
    position: relative;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 19px, 65px 0);
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 64px;
	vertical-align: middle;
	overflow: hidden;
}

.messageDownIcon:before {
    content: '';
    position: absolute;
    top: -2px; right: -2px;
    border-top: 20px solid #eeffde;
    border-left: 20px solid rgba(0,0,0,0.2);
    width: 0;
}

.fromThem .messageDownIcon:before {
    border-top: 20px solid #ffffff;
}

.messageDownFname {
	margin: 10px 0 0 77px;
	height: 14px;
	overflow: hidden;
}
.messageDownSize {
	margin: 7px 0 0 77px;
	height: 40px;
	overflow: hidden;

}*/



/*
.messageDownIcon:after {
  content: '';
  position: absolute;
  width: 1100%; height: 1100%;
  top: 10px; right: -500%;
  background: green;
  transform-origin: 54% 0;
  transform: rotate(45deg);
  z-index: -1;
}*/
/*
.messageDownIcon:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 20px solid green;
    border-left: 20px solid black;
    width: 0;
}
*/




.panelMessageService, .panelMessageDate {
	margin: 8px auto;
    background: rgb(0,0,0,0.4);
    padding: 8px;
    border-radius: 8px;
    color: #ffffff;
    width: auto;
    max-width: max-content !important;
    float: none;
}




.panelMessagechannel {
	max-width: 500px;
}
.panelMessagechannel .messageAuthor {
	display: none;
}
.panelMessagechannel .avatar {
	display: none;
}
.panelMessagedialog .avatar {
	display: none;
}
.panelMessagedialog .messageAuthor {
	display: none;
}
.panelMessagechannel,.panelMessagedialog.fromThem {
	margin-left: 0;
}


.panelPush {
	min-height: calc(100vh - 187px);
}




@media (max-width:1600px) {
	.panelMessagesContainer, .newMessageContainer {
		max-width: 90%;
	}
	.panelNoSidebar .panelMessagesContainer, .panelNoSidebar .newMessageContainer {
		max-width: 700px;
	}
}
@media (max-width:1380px) {
	.panelMessagesContainer, .newMessageContainer {
		max-width: 98%;
	}
	.panelNoSidebar .panelMessagesContainer, .panelNoSidebar .newMessageContainer {
		max-width: 700px;
	}
}
@media (max-width:1100px) {
	.panelMessagesContainer {
	    max-width: 500px;
	}
	.panelMessage {
	    max-width: 500px;
	}
	.newMessageContainer {
		max-width: 500px;
	}
}
@media (max-width:1000px) {
	.panelMessagesContainer {
	    max-width: 400px;
	}
	.panelMessage {
	    max-width: 400px;
	}
	.newMessageContainer {
		max-width: 400px;
	}
}

@media (max-width:850px) {
	/*switching to mobile view now*/
	.newMessageContainer {
	    max-width: 100%;
	}
	.panelMessage {
	    max-width: 80%;
	}
	.invisible .panelPos  {
		right: -100%;
		opacity: 0;
	}
	.messageMedia {
		min-width: 70%;
	}
	.panelMessage.withPhoto  {
		min-width: 70%;
	}
	.panelMessagechannel {
	    width: 80%;
	}
	.panelMessage {
	    max-width: 80%;
	}
	.panelNoSidebar .panelMessagesContainer, .panelNoSidebar .newMessageContainer {
	    max-width: 100%;
	}
	.panelMessagesContainer {
	    max-width: 95% !important;
	}
	.panelNewMessage {
		padding: 6px;
	}
	.panelMessages {
	    height: calc(100vh - 141px);
	    padding: 6px;
	}
}


.panelNothing {
	min-height: 100vh;
}